[run]
omit =
    tests/*
    */Temp/*
    */tmp/*
    *AppData/Local/Temp*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
